@use '../utils' as *;

/*----------------------------------------*/
/*  02. HEADER CSS
/*----------------------------------------*/
.logo {
    & img {
        max-width: 128px;
    }
}
.header-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--tp-common-black);
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.06);
    z-index: 91;
    &.white-bg{
        background-color: var(--tp-common-white);
    }
}

.tp-header {
    &__section{
        &-2{
            & .header-sticky{
                padding-top: 30px;
                padding-bottom: 30px;
                background-color: var(--tp-common-white);
                padding-left: 50px;
                padding-right: 50px;
                @media #{$xs,$md} {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        &-dark{
            & .header-sticky{
            background-color: var(--tp-common-black);
            }
        }
    }

    &__space {
        &-2 {
            padding-left: 50px;
            padding-right: 50px;

            @media #{$xs,$md} {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &__main {
        @media #{$xs,$sm,$md} {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &__white-bg {
        & .tp-header {
            &__main{
                padding-top: 0;
                padding-bottom: 0;
            }
            &__topbar {
                border-bottom-color: #c9c9c9;
            }

            &__cta {
                & span {
                    color: var(--tp-grey-3);

                    & a {
                        color: var(--tp-common-black);

                        &:hover {
                            color: var(--tp-theme-primary);
                        }
                    }

                    opacity: 1;

                    &:hover {
                        color: var(--tp-theme-primary);
                    }

                }
            }

            &__cart {
                color: var(--tp-common-black);

                &-count {
                    color: var(--tp-common-white);
                }

                &:hover {
                    color: var(--tp-common-black);
                }
            }

            &__search {
                color: var(--tp-common-black-3);
            }

            &__social {
                & a {
                    color: var(--tp-common-black);

                    &:hover {
                        color: var(--tp-theme-primary);
                    }
                }
            }
        }
    }

    &__transparent {
        position: absolute;
        left: 0;
        margin: auto;
        top: 0;
        width: 100%;
        z-index: 99;
        background: rgba(0, 0, 0, 0.4);
        & .tp-header__main {
            padding-top: 0;
            padding-bottom: 0;
        }
        &-2 {
            position: absolute;
            left: 0;
            margin: auto;
            top: 35px;
            width: 100%;
            z-index: 99;
        }

        &-3 {
            position: absolute;
            left: 0;
            margin: auto;
            width: 100%;
            z-index: 99;
            background-color: rgba(255, 255, 255, 0);
            box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.15);
        }

    }

    &__topbar {
        padding: 13px 0;
        border: 1px solid;
        border-color: rgba(255, 255, 255, .102);

        &.tp-border-bottom {
            border-color: var(--tp-border-3);
        }
    }

    &__cta {
        & span {
            color: var(--tp-common-white);
            opacity: 0.5;
            margin-right: 85px;
            @include transition(.3s);

            @media #{$md} {
                margin-right: 40px;
            }

            &:hover {
                opacity: 1;
            }

            & i {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &-2 {
            & span {
                color: var(--tp-common-black);
                margin-right: 30px;
                @include transition(.3s);

                @media #{$lg,$xl} {
                    margin-right: 20px;
                }

                @media #{$md} {
                    margin-right: 10px;
                }

                &:hover {
                    color: var(--tp-theme-primary);
                }

                & i {

                    margin-right: 19px;
                    color: var(--tp-theme-secondary);

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &__social {
        margin-left: 13px;
        color: var(--tp-text-1);
        transition: 0.3s;
        z-index: 1;

        & a {
            margin-right: 19px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: var(--tp-common-white);
            }

        }

        &-2 {
            ul {
                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 15px;
                }
            }
        }
    }

    &__menu-top {
        & ul {
            & li {
                list-style: none;
                display: inline-block;
                padding: 0 20px;
                border-right: 1px solid #ccc;

                @media #{$md} {
                    padding: 0 10px;
                }

                & span {
                    padding-right: 10px;
                }

                &:last-child {
                    border-right: 0;
                    padding-right: 0;
                }

                & a {
                    color: var(--tp-text-10);

                    &:hover {
                        color: var(--tp-theme-primary);
                    }
                }
            }
        }
    }
    &__cart {
        color: var(--tp-common-white);
        margin-right: 20px;
        position: relative;
        font-size: 18px;
        display: inline-block;
        padding-bottom: 37px;
        margin-top: 37px;

        &-count {
            position: absolute;
            background-color: var(--tp-theme-primary);
            height: 15px;
            width: 15px;
            border-radius: 30px;
            font-size: 10px;
            right: -10px;
            text-align: center;
            line-height: 15px;
            top: -1px;
        }

        &:hover {
            color: var(--tp-common-white);
        }

        &-2 {
            color: var(--tp-text-4);
            margin-right: 20px;
            position: relative;
            font-size: 18px;
            display: inline-block;
            padding-bottom: 37px;
            margin-top: 37px;

            &-count {
                color: var(--tp-common-white);
                position: absolute;
                background-color: var(--tp-theme-secondary);
                height: 15px;
                width: 15px;
                border-radius: 30px;
                font-size: 10px;
                right: -10px;
                text-align: center;
                line-height: 15px;
                top: -1px;
            }
        }
    }

    &__cmp {
        color: var(--tp-text-4);
        margin-right: 20px;
        position: relative;
        font-size: 18px;
        display: inline-block;
    }

    &__fvt {
        color: var(--tp-text-4);
        margin-right: 20px;
        position: relative;
        font-size: 18px;
        display: inline-block;
    }

    &__search {
        font-size: 18px;
        color: #fff;
        margin-right: 20px;

        &.opened {
            & .tp-header__search-open {
                opacity: 0;
                transform: scale(0);
            }

            & .tp-header__search-close {
                opacity: 1;
                transform: scale(1);
            }
        }

        &-popup {
            display: inline-block;
            position: absolute;
            top: 290%;
            right: 0;
            z-index: 5;
            padding: 40px;
            background-color: var(--tp-common-black);
            opacity: 0;
            @include transition(.3s);

            &.opened {
                opacity: 1;
                top: 248%;
            }

            & form {
                & label {
                    position: relative;

                    & button {
                        position: absolute;
                        right: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: var(--tp-common-white);
                    }
                }

                & input {
                    background-color: transparent;
                    color: var(--tp-common-white);
                    height: 40px;
                    width: 270px;
                    outline: 0;
                    border: 0;
                    border-bottom: 1px solid rgba(241, 235, 235, 0.1);

                    @include tp-placeholder {
                        color: grey;
                    }
                }
            }
        }

        &-open {
            position: relative;
            @include transition(.3s);
        }

        &-close {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transform-origin: center;
            opacity: 0;
            transform: scale(0);
            @include transition(.3s);


        }
    }

    &__nav {
        background-color: var(--tp-theme-primary);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        // line-height: 60px;
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &.sm {
            transform: scale(.7);
            margin-right: -10px;
        }

        & span {
            position: absolute;
            right: 20px;
            height: 2px;
            display: inline-block;
            background-color: var(--tp-common-white);
            display: block;
            margin-bottom: 8px;

            // padding-left: 50%;
            &:first-child {
                top: 18px;
                width: 25px;
                @include transition(.3s);
            }

            &:nth-child(2) {
                top: 28px;
                width: 20px;
                @include transition(.3s);
            }

            &:last-child {
                top: 38px;
                width: 28px;
                @include transition(.3s);
            }
        }

        &:hover {
            & span {
                &:first-child {
                    width: 20px;
                }

                &:last-child {
                    width: 12px;
                }
            }
        }
    }


}


.header {
    &__transparent {
        position: fixed !important;
        left: 0;
        margin: auto;
        top: 0;
        width: 100%;
        z-index: 99;
        background: transparent;
    }

    &__info {
        & ul {
            & li {
                list-style: none;
                display: inline-block;
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }

                & a {
                    color: var(--tp-text-2);
                    font-size: 13px;

                    &:hover {
                        color: var(--tp-theme-primary);
                    }

                    & i {
                        margin-right: 5px;
                    }

                    & svg {
                        width: 13px;
                        height: 13px;
                        margin-right: 5px;

                        & path {
                            fill: var(--tp-text-4);
                        }
                    }
                }
            }
        }
    }

    &__border {
        border-bottom: 1px solid rgba($color: #031220, $alpha: .07);
    }

    &__search {
        &-input {
            position: relative;

            & input {
                width: 100%;
                height: 40px;
                background-color: var(--tp-grey-1);
                border: 1px solid var(--tp-grey-1);
                padding: 0 20px;
                padding-right: 60px;

                @include tp-placeholder {
                    color: var(--tp-text-3);
                }
            }
        }

        &-btn {
            position: absolute;
            top: 46%;
            @include transform(translateY(-50%));
            right: 15px;
            font-size: 16px;
            color: var(--tp-common-black);
            padding-left: 17px;
            background-color: var(--tp-grey-1);

            &::after {
                position: absolute;
                content: '';
                left: 0;
                top: 57%;
                @include transform(translateY(-50%));
                height: 100%;
                width: 1px;
                background-color: rgba($color: #031220, $alpha: .1);
            }
        }

        &-2 {
            margin-left: 13px;

            & input {
                height: 44px;
                line-height: 44px;
                @include border-radius(6px);
                background-color: var(--tp-grey-5);

                @include tp-placeholder {
                    color: var(--tp-text-10);
                }
            }

            & button {
                &::after {
                    background-color: rgba($color: #3E8454, $alpha: .14);
                }
            }
        }

        &-3 {
            & button {
                & svg path {
                    stroke: var(--tp-theme-3);
                }
            }
        }
    }

    &__hamburger {
        margin-top: 3px;
    }

    &__action {
        & ul {
            & li {
                list-style: none;

                & a {
                    display: inline-block;
                    width: 44px;
                    height: 44px;
                    line-height: 38px;
                    text-align: center;
                    border: 2px solid rgba($color: #0C140F, $alpha: .08);
                    @include border-radius(50%);

                    &:hover {
                        border-color: var(--tp-common-black-3);
                    }
                }
            }
        }
    }

    &__sticky {
        &.header__sticky {
            position: fixed !important;
            left: 0;
            margin: auto;
            top: 0;
            width: 100%;
            box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
            z-index: 99;
            -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
            animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
            -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
            background: var(--tp-common-white);
        }
    }

    &__lang {
        & .nice-select {
            padding: 0;
            padding-right: 17px;
            font-size: 15px;
            border: 0;
            color: var(--tp-text-11);

            & .current {
                color: var(--tp-text-11);
                font-size: 15px;
            }

            &::after {
                right: 0;
                border-width: 1.5px;
                border-color: var(--tp-text-11);
                height: 6px;
                width: 6px;
                margin-top: -6px;
            }

            & .list {
                border-radius: 0;
                margin-top: 0;
                left: auto;
                right: 0;

                & .option {

                    &:hover,
                    &.selected.focus {
                        color: var(--tp-theme-3);
                    }
                }
            }
        }
    }

    &__social {
        & ul {
            & li {
                display: inline-block;
                margin-right: 5px;

                &:last-child {
                    margin-right: 0;
                }

                & a {
                    font-size: 14px;
                    color: var(--tp-common-black);
                    display: inline-block;

                    &:hover {
                        color: var(--tp-theme-primary);
                    }
                }
            }
        }
    }
}

/* logo */

.logo {
    & img {
        // width: 150px;
    }
}


/* main menu css */

.main-menu {
    // @media #{$lg} {
    //     margin-left: 50px;
    // }

    & ul {
        & li {
            position: relative;
            list-style: none;
            display: inline-block;
            margin-right: 35px;

            &:last-child {
                margin-right: 0;
            }

            & a {
                display: inline-block;
                color: var(--tp-common-white);
                padding: 37px 0;
                font-weight: 600;
                font-size: 18px;
            }

            &.has-dropdown {
                &>a {
                    position: relative;

                    &::after {
                        content: '\f107';
                        @include transform(translateY(1px));
                        font-size: 14px;
                        color: var(--tp-common-white);
                        font-family: var(--tp-ff-fontawesome);
                        font-weight: 400;
                        margin-left: 5px;
                        display: inline-block;
                        @include transition(.3s);
                    }
                }
            }

            & .submenu {
                position: absolute;
                top: 120%;
                left: 0;
                width: 200px;
                background: var(--tp-common-white);
                z-index: 99;
                @include transition(.3s);
                visibility: hidden;
                opacity: 0;
                text-align: left;
                @include box-shadow(0px 30px 70px 0px rgba(11, 6, 70, 0.08));

                & li {
                    display: block;
                    width: 100%;
                    margin: 0;

                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.10);
                    }

                    &.has-dropdown {
                        &>a {
                            &::after {
                                position: absolute;
                                top: 50%;
                                right: 25px;
                                @include transform(translateY(-50%) rotate(-90deg));

                            }
                        }
                    }

                    & a {
                        padding: 10px 25px;
                        font-size: 13px;
                        position: relative;
                        z-index: 1;
                        color: var(--tp-common-black);
                        width: 100%;

                        &::before {
                            position: absolute;
                            content: '';
                            top: 0;
                            left: auto;
                            right: 0;
                            width: 0;
                            height: 100%;
                            // background-color: var(--tp-theme-primary);
                            z-index: -1;

                        }

                    }

                    & .submenu {
                        left: 120%;
                        top: 0;
                        visibility: hidden;
                        opacity: 0;
                    }

                    &:hover {
                        &>a {
                            color: var(--tp-theme-primary);

                            &::after {
                                color: var(--tp-theme-primary);
                            }

                            &::before {
                                left: 0;
                                right: auto;
                                width: 100%;
                            }
                        }

                        &>.submenu {
                            left: 100%;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }

            &:hover {
                &>a {
                    color: var(--tp-theme-primary);

                    &::after {
                        color: var(--tp-theme-primary);
                        transform: rotate(-180deg);
                    }
                }

                &>.submenu {
                    top: 100%;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    &.black-menu {
        & ul {
            & li {
                & a {
                    color: var(--tp-text-10);
                }

                &.has-dropdown {
                    &>a {
                        &::after {
                            color: var(--tp-text-3);

                        }
                    }
                }

                &:hover {
                    &>a {
                        color: var(--tp-theme-primary);

                        &::after {
                            color: var(--tp-theme-primary);
                            transform: rotate(-180deg);
                        }
                    }
                }
            }
        }
    }
}