@use '../utils' as *;

/*----------------------------------------*/
/*  22. FOOTER CSS
/*----------------------------------------*/

.tp-footer {
    &__logo{
        & img {
            max-width: 128px;
        }
    }
    &__area {
        &-1 {
            & .tp-footer__top {
                & span {
                    margin: 0;
                    color: #ccc;

                    &:hover {
                        color: #ccc;
                    }

                    & a {

                        &:hover {
                            color: var(--tp-theme-primary);
                        }
                    }
                }
            }

            & .footer__widget-cta {
                margin-bottom: 15px !important;
            }

            & .footer__widget {
                &-title {
                    font-size: 22px;
                    text-transform: capitalize;
                    margin-bottom: 35px;
                }

                & p {
                    color: #7f7f7f;
                }
            }

            & .tp-footer__widget-blog {
                &-title {
                    font-size: 17px;
                    color: var(--tp-common-white);
                    font-weight: 300;

                    & a {
                        &:hover {
                            color: var(--tp-theme-primary);
                        }
                    }
                }

                &-meta {
                    margin: 0;
                    color: #7f7f7f;
                    margin: 0;

                    &:hover {
                        color: #7f7f7f;
                    }

                    & i {
                        margin-right: 8px;
                        color: #fab702;
                        opacity: 1;
                    }

                }
            }

        }

        &-2 {
            margin-top: -50px;
        }

        &-9 {
            & .tp-footer {

                &__top {
                    span {
                        margin: 0;
                        color: #a0a8b7;
                    }

                    & p {
                        color: #a0a8b7;
                    }
                }
            }

            & .footer__widget-title {
                color: var(--tp-theme-primary);
                text-transform: capitalize;
                position: relative;
                padding-bottom: 10px;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 30px;
                    height: 2px;
                    background-color: #a0a8b7;
                }
            }

        }
    }

    &__top {
        & p {
            color: var(--tp-common-white);
            margin-bottom: 40px;
            display: inline-block;
            font-size: 17px;
        }

        & span {
            color: var(--tp-theme-primary);
            margin: 0 10px;
            @include transition(.3s);
            font-size: 18px;

            &:hover {
                color: var(--tp-common-white);
            }
        }
    }

    &__copyright {
        & span {
            font-size: 15px;
            color: #a0a8b7;

            & a {
                color: var(--tp-common-white);
            }
        }

        &-2 {
            & span {
                font-size: 15px;
                color: var(--tp-grey-5);
                font-weight: bold;

                & a {
                    color: var(--tp-common-white);
                }
            }
        }
    }

    &__social-2 {
        span {
            color: var(--tp-text-14);
            font-size: 20px;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: var(--tp-theme-secondary);
            }
        }
    }

    &__social-3 {
        a {
            color: var(--tp-common-white);
            font-size: 16px;
            margin-right: 10px !important;
            background-color: var(--tp-theme-primary);
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            display: inline-block;
            border-radius: 50%;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: var(--tp-common-white) !important;
                background-color: var(--tp-theme-secondary);
            }
        }
    }

}

.footer-widget{
    &__logo{
        & img {
            max-width: 128px;
        }
    }
}





.footer {
    &__widget {
        
        & p {
            color: var(--tp-text-14);
            font-size: 16px;
            margin-bottom: 20px;
        }

        &-space {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        &-cta {
            margin-bottom: 25px;
            display: inline-block;

            & b {
                color: var(--tp-common-black);
                font-size: 18px;
            }
        }

        &-title {
            font-size: 16px;
            color: var(--tp-common-black);
            margin-bottom: 25px;
            text-transform: uppercase;
            position: relative;
            padding-top: 15px;
            font-weight: 300;
            line-height: 1;
        }

        & ul {
            overflow: hidden;

            & li {
                list-style: none;
                margin-bottom: 20px;
                line-height: 1;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    font-size: 16px;
                    color: var(--tp-text-14);
                    position: relative;

                    &:hover {
                        color: var(--tp-theme-secondary);


                    }
                }
            }
        }
    }

    &__blog {
        &-meta {
            margin-bottom: 3px;

            & span {
                color: var(--tp-text-1);

                & i {
                    color: var(--tp-theme-primary);
                    margin-right: 3px;
                }

                &:hover {
                    color: var(--tp-common-black);
                }
            }
        }

        &-title {
            font-size: 15px;
            text-transform: uppercase;
            color: var(--tp-common-black);
            margin-bottom: 0;
            line-height: 1.4;

            & a {
                &:hover {
                    color: var(--tp-theme-primary);
                }
            }
        }
    }

    &__info {
        &-item {
            margin-bottom: 20px;
        }

        &-icon {
            & i {
                font-size: 20px;
                color: var(--tp-theme-primary);
            }
        }

        &-text {
            & h4 {
                color: var(--tp-common-black);
                font-size: 18px;
                margin-bottom: 0;
            }

            & a {
                color: var(--tp-text-1);
            }
        }
    }

    &__contact {
        & p {
            color: var(--tp-text-1);
            font-size: 16px;
            margin-bottom: 20px;
        }

        & iframe {
            width: 100%;
            height: 110px;
            filter: grayscale(100%);
        }
    }

    &__subscribe {
        & p {
            color: var(--tp-text-1);
            font-size: 16px;
            margin-bottom: 20px;
        }

        &-box {
            position: relative;
        }

        &-input {
            & input {
                width: 100%;
                height: 60px;
                padding: 0 23px;
                padding-right: 70px;
                border: 1px solid #ccc;
                background-color: transparent;
                font-size: 16px;
                color: var(--tp-common-black);

                @include tp-placeholder {
                    color: var(--tp-text-1);

                }
            }
        }
    }

    &__copyright {
        @media #{$sm, $xs} {
            margin-bottom: 20px;
        }

        & p {
            font-size: 16px;
            color: var(--tp-common-black);
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 0;

            & a {
                &:hover {
                    color: var(--tp-common-black);
                }
            }
        }

    }

    &__social {
        & a {
            display: inline-block;
            color: var(--tp-common-black);
            font-size: 16px;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: var(--tp-common-black);
            }
        }

    }

    &__top {
        position: relative;
        padding-top: 100px;
        padding-bottom: 40px;
        z-index: 1;
    }

    &__bottom {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
.footer-insta-item{
    width: 100%;
    height: 80px;
    & img {
        height: 100%;
        object-fit: cover;
    }
}
/* footer col design for home 1 */