$colors: (
    common: (
        white: #ffffff,
        white-2:#f2f2f2,
        black: #000,
        black-2:#1b1b1b,
        black-3:#101010,
        black-4:#0e0e0e,
        black-5:#1c1f23,
        black-6:#1c1c1c,
        
    ),
    heading: (
        primary: #000,
    ),
    grey: (
        1:#F1F1F1,
        2:#F5F6F8,
        3:#8b8b8b,
        4:#282828,
        5:#171717,
        6:#cacaca,
        7:#f8f8f8,

    ),
    text: (
        body:#000,
        1:#8e77a2,
        2:#838383,
        3:#484848,
        4:#7e7e7e,
        5:#fdf4b4,
        6:#383838,
        7:#878787,
        8:#404040,
        9:#718394,
        10:#334141,
        11:#b67c5a,
        12:#747474,
        13:#363535,
        14:#333e48,
       ),
    theme: (
        primary: #ee3364,
        secondary: #ef6026,
        bg:#edf7ff,
        bg-2:#e1decd,
        bg-3:#fdf4b4,
        bg-4:#f6f6f6,
        bg-5:#f4f4f4,
        bg-6:#eaeaea,
        bg-7:#fffdec,
        bg-8:#f9f9f9,
        2:#2ed279,
        3:#8e88d1,
        4:#8462ad,

    ),
    border: (
        1: #000,
        2:#e7e7e7,
        3:#e8e8e8,
    )
);